body {
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.7;
  --main-bg-color: #fff;
  --main-font-color: #4d4d4d;
  --secondary-bg-color: rgba(24, 160, 184);
  --main-overlay-color: linear-gradient(
    190deg,
    rgba(24, 160, 184, 0.9),
    72%,
    rgba(255, 255, 126, 0.6),
    97%,
    rgba(203, 121, 33, 0.8)
  );
  --secondary-font-color: #fff;
  --secondary-btn-color: rgba(24, 160, 184);
  color: var(--main-font-color);
  background: var(--main-bg-color);
}

body.darkmode {
  --main-bg-color: rgba(10, 22, 61, 0.92);
  --main-font-color: #fff;
  --secondary-bg-color: rgb(9, 82, 134);
  --main-overlay-color: linear-gradient(
    170deg,
    rgba(9, 82, 134, 0.9),
    72%,
    rgba(23, 147, 255, 0.6),
    97%,
    rgba(24, 160, 184, 0.9)
  );
  /* --main-overlay-color: rgba(9, 82, 134, 0.6); */
  --secondary-font-color: #fff;
  --secondary-btn-color: #fff;
}

.darkmode text {
  fill: #fff;
}

h1 {
  margin: 0;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 22px;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 18px;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
  transition: opacity 0.1s;
}

a:hover {
  opacity: 0.7;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.main-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
}

.main-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-overlay-color);
}

.profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social-icons {
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.social-icons li a {
  display: inline-block;
  color: #30bfba;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.display-table {
  width: 100%;
  height: 100vh;
  display: table;
}

.display-table-contents {
  padding: 128px 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.title-text {
  color: white;
  position: relative;
}

.icon-link {
  position: relative;
}

#skills,
#works {
  padding: 2em 0;
  clear: both;
}

.heading {
  margin-bottom: 32px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 2em;
}
.skills-container:last-of-type {
  margin-bottom: 0;
}

.skills-container ul li {
  font-size: 18px;
  color: var(--main-font-color);
}

#contact {
  padding: 2em 0;
  clear: both;
  margin-top: 1em;
}

.contact {
  background: var(--secondary-bg-color);
}

.contact-contents {
  color: white;
  text-align: center;
}

.description {
  font-size: 16px;
}

.btn {
  font-family: "Space Mono", Arial, serif;
  font-size: 16px;
  border: none !important;
  border-radius: 30px;
  padding: 16px 64px;
  text-decoration: none;
}

#contact .btn {
  height: 54px;
  background: var(--main-bg-color);
  color: var(--secondary-btn-color);
}

.skill-item {
  margin: 0 3%;
}

#works ul {
  width: 80%;
  margin: 0 auto;
}

.js-accordion-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.3em 1em;
  border-bottom: 1.2px solid var(--main-font-color);
  font-size: 0.8em;
}
.js-accordion-parent::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--main-font-color);
  border-right: 2px solid var(--main-font-color);
  transform: rotate(135deg);
  transition: transform 0.2s ease;
}
.js-accordion-parent.is-expanded::after {
  transform: rotate(-45deg);
  transition: transform 0.4s ease;
}

.js-accordion-children {
  visibility: hidden;
  max-height: 0;
  height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.5s ease;
}
.js-accordion-children .workcard {
  margin: 0;
  padding: 0;
}

.js-accordion-children.accordion-open {
  visibility: visible;
  max-height: 100vh;
  height: fit-content;
  opacity: 1;
  transition: max-height 1s ease, opacity 0.5s ease;
}

.accordion-open .workcard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  margin: 1em 0;
  box-shadow: 1px 1px 10px var(--main-font-color);
  animation: 12s floating infinite;
}

.accordion-open .workcard:hover {
  opacity: 0.8;
}

.js-darkmode {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 1em;
  left: 4em;
  z-index: 3;
  background: var(--main-bg-color);
  border: 2px solid var(--secondary-btn-color);
  border-radius: 25px;
  background: #fff;
  width: 1em;
  height: 2em;
  cursor: pointer;
}

.is-dark {
  background: #1d284d;
}

.fa-regmoon {
  display: none;
}

.is-dark .fa-regmoon {
  display: block;
}
.is-dark .fa-sun {
  display: none;
}

.darkmode-toggle {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #18a0b8;
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  transition: margin-top 0.3s;
}

.is-dark .darkmode-toggle {
  margin-top: 98%;
}

.js-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 3;
  width: 2em;
  height: 2em;
  background: transparent;
}

.drawer-top,
.drawer-middle,
.drawer-bottom {
  display: block;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--main-bg-color);
  background: var(--secondary-btn-color);
  transition: transform 0.8s, opacity 0.8s;
}

.is-opened {
  justify-content: center;
}

.is-opened .drawer-top {
  transform: rotate(45deg) translateY(10px);
}
.is-opened .drawer-middle {
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
}
.is-opened .drawer-bottom {
  transform: rotate(-45deg) translateY(-10px);
}

.js-drawer-content {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
.js-drawer-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 100vh;
  transition: width 0.3s ease, opacity 1s;
}

.js-drawer-content a {
  cursor: pointer;
}

.js-drawer-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.6s;
}
.drawer-open.js-drawer-bg {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.drawer-open.js-drawer-content {
  visibility: visible;
  width: 400px;
  background: var(--main-bg-color);
  opacity: 1;
  padding-top: 4em;
  padding: 4em 0 0 2em;
}

.social-icon {
  color: var(--main-font-color);
}

@media screen and (max-width: 768px) {
  .drawer-open.js-drawer-content {
    width: 100vw;
    padding-top: 3em;
    padding-left: 0;
  }
  .drawer-open.js-drawer-content ul {
    padding: 0;
  }
  .drawer-open.js-drawer-content ul li {
    text-align: center;
  }
  .js-drawer {
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
  }

  .js-drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .js-drawer-content .social-icons {
    display: flex;
    justify-content: center;
  }

  .js-darkmode {
    width: 25px;
    height: 50px;
    top: 20px;
    left: unset;
    right: 20px;
  }
  .darkmode-toggle {
    width: 24px;
    height: 24px;
  }

  .accordion-open .workcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .workcard-text {
    width: 90%;
  }
}
